css
/* static/styles.css */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('your-background-image-url.jpg'); /* Замените на ваше изображение */
    background-size: cover;
    background-position: center;
    color: #0e2f51;;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон для навигации */
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #0e3763; /* Цвет ссылки при наведении */
}

.alert {
    margin-top: 20px;
}

.card {
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02); /* Увеличение карточки при наведении */
}

.footer {
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    margin-top: 20px;
}
