<!DOCTYPE html>
<html>
<head>
    <title>ОДИНОЧКА</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        {% if current_user.is_authenticated %}
            <span>Добро пожаловать, {{ current_user.username }}</span>
            <a href="{{ url_for('logout') }}">Выйти</a>
            <a href="{{ url_for('add_ad') }}">Добавить объявление</a>
        {% else %}
            <a href="{{ url_for('login') }}">Войти</a>
            <a href="{{ url_for('register') }}">Регистрация</a>
        {% endif %}
    </nav>
    <div>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>