{% extends 'base.html' %}

{% block content %}
    <h1>ОДИНОЧКА.БАЙ</h1>

    <h2>Поиск, продажа, обмен одной шины, для любого вида техники</h2>

    {% if current_user.is_authenticated %}
        <p>Добро пожаловать, {{ current_user.username }}</p>  <!-- Отображаем имя пользователя -->
    {% endif %}

    <ul class="row">
    {% if ads %}
        {% for ad in ads %}
            <li class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='uploads/' + ad.image_filename) }}" class="card-img-top" alt="Image" />
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.title }}</h5>
                        <p class="card-text">{{ ad.description }}</p>
                        <a href="{{ url_for('edit_ad', ad_id=ad.id) }}" class="btn btn-primary">Редактировать</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <li class="col-12">Нет объявлений.</li>
    {% endif %}
    </ul>

    <p><a href="{{ url_for('add_ad') }}" class="btn btn-success">Добавить объявление</a></p>
    
    {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('logout') }}" class="btn btn-danger">Выйти</a></p>
    {% else %}
        <p><a href="{{ url_for('register') }}" class="btn btn-warning">Регистрация</a></p>
        <p><a href="{{ url_for('login') }}" class="btn btn-info">Войти</a></p>
    {% endif %}
{% endblock %}