{% extends 'base.html' %}

{% block content %}
    <h1>Добро пожаловать на сайт "ОДИНОЧКА.БАЙ"</h1>

    <h2>Поиск, продажа, обмен одиночной шины, для любого вида техники:</h2>

    <ul class="row">
    {% if ads %}
        {% for ad in ads %}
            <li class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='uploads/' + ad.image_filename) }}" class="card-img-top" alt="Image" />
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.title }}</h5>
                        <p class="card-text">{{ ad.description }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <li class="col-12">Нет объявлений.</li>
    {% endif %}
    </ul>

    <p><a href="{{ url_for('add_ad') }}">Добавить новое объявление</a></p>
    {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('logout') }}">Выйти</a></p>
    {% else %}
        <p><a href="{{ url_for('login') }}">Войти</a></p>
        <p><a href="{{ url_for('register') }}">Регистрация</a></p>
    {% endif %}
{% endblock %}